@import "tailwindcss";

:root {
  --primary: #0F0F0F;
  --secondary: #CD9D65;
  --accent:#FFFFFF;
  --accent1:#613B0F;
}

@theme inline {

  /* colour palatte */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent:var(--accent);
  --color-accent1:var(--accent1);               



  /* Typhography */
  --font-geistSans: var(--font-geistSans);
  --font-staat:var(--font-staat);
  --font-jaro:var(--font-jaro)

}

